@import "core";

body {
  .game-created-popup {
    padding: 10px;
  }
  .ui-header {
    background: @light-green;
    a.back-button {      
      padding: 2px;
    }
  }
  .ui-footer {
    background: @dark-purple;
  }
  
  /**VIEW GAMES**/
  .view-games {
    li:first-child {
      margin-top: 10px;  
    } 
    li:last-child {
      margin-bottom: 50px;
    }
  }
  /**GAME DETAILS**/
  .game-details {
    table {
      margin-bottom: 50px;
    }
  }
  /**CREATE GAME**/
  .create-game {
    padding: 50px 20px !important;    
    .friends-list {
      height: 200px;
      overflow: auto;
      padding: 40px;
    }
  }
}
