{% extends mobile_or_public %}

{% block fb_graph %}
    <meta property="fb:app_id" content="{{ facebook_id }}" />
    <meta property="og:type"   content="instapickup_test:game" />
    <meta property="og:url"    content="http://localhost:8000{% url pickup_finder.views.game_rsvp game.id %}" />
    <meta property="og:title"  content="Sample Game" />
    <meta property="og:image"  content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" />
{% endblock %}
{% block nav %}{% endblock %} {# for mobile version #}
{% block content %}
    <div class="rsvp-form">        
        <form method="post">              
            <div style="margin-bottom: 50px;">
                {{ form.rsvp_status.label }}
                <br />
                {{ form.rsvp_status }}
            </div>
            <div>                
                {{ form.player.label }}
                <br />
                {{ form.player }}                
                {% if game.public %}
                    <h4>or</h4>
                    <div>
                        {{ form.player_name.label }}
                        <br />
                        {% if game.can_rsvp %}
                            {{ form.player_name }}
                        {% else %}
                            <div class="no-player">
                                <input type="text" disabled="true"/>
                            </div>
                            <script type="text/javascript">
                                var options = {
                                    title : "Sorry, the game has filled up", 
                                    trigger : 'hover', 
                                    container: 'body'
                                };
                                $('.no-player').tooltip(options);                           
                            </script>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <br />
            <button class="btn btn-large btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
