{% extends 'base.html' %}

{% block fb_graph %}{% endblock %}
{% block css %}
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/less/portal.less" />
    {% block css_spec %}
    {% endblock %}
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/mine/login.js"></script>
    {% block js_spec %}
    {% endblock %}
{% endblock %}
{% block body %}
    <div id="fb-root"></div>
    <script type="text/javascript">
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ facebook_id }}";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="header">
        <div class="header-title">
            InstaPickup
        </div>
        <div class="fb-like" data-send="true" data-width="200" data-show-faces="false"></div>
    </div>    
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">                
                <ul class="nav">
                    <li{% if current_tab == "dashboard" %} class="active"{% endif %}><a href="{% url pickup_finder.views.dashboard %}"><i class="icon-dashboard"></i>Dashboard</a></li>
                    <li{% if current_tab == "create-game" %} class="active"{% endif %}><a href="{% url pickup_finder.views.create_game %}"><i class="icon-plus"></i>Start a Game</a></li>
                    <li{% if current_tab == "view-games" %} class="active"{% endif %}><a href="{% url pickup_finder.views.view_games %}"><i class="icon-eye-open"></i>View My Games</a></li>
                    <li{% if current_tab == "help" %} class="active"{% endif %}><a href="{% url pickup_finder.views.help %}"><i class="icon-question-sign"></i>Help</a></li>
                    <li{% if current_tab == "explore" %} class="active"{% endif %}><a href="{% url pickup_finder.views.explore %}"><i class="icon-search"></i>Explore</a></li>
                    <li class="notifications"><a href="#" id="notifs" data-rel="popover">Notifications</a><span class="notifs-count">{{ notifications|length }}</span></li>
                </ul>                
            </div>
        </div>
        <div class="content-container">
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>            
        </div>
    </div>
    <div class="notifications-popover" style="display: none;">
        {% for notification in notifications %}
            <div class="alert alert-info">
                {{ notification.format_notification }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
