{% extends 'portal/base.html' %}

{% block css_spec %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/libraries/datepicker.css" />    
{% endblock %}
{% block js_spec %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>    
    <script type="text/javascript" src="{{ STATIC_URL }}js/libraries/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libraries/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libraries/bootstrap-datepicker.js"></script>    
    <script type="text/javascript" src="{{ STATIC_URL }}js/mine/create_game.js"></script>
{% endblock %}
{% block content %}
    <script>
        // Additional JS functions here
        window.fbAsyncInit = function() {
            FB.init({
                appId      : "{{ facebook_id }}", // App ID
                channelUrl : '', // Channel File
                status     : true, // check login status
                cookie     : true, // enable cookies to allow the server to access the session
                xfbml      : true  // parse XFBML
            });

            // Additional init code here
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    get_users_friends();
                } else if (response.status === 'not_authorized') {
                    facebook.login();
                } else {
                    facebook.login();
                }
            });
        };
    </script>
    <div class="create-game">
        <form id="create_game_form" class="form-horizontal" method="post">
            <div class="top-form">
                {% for field in form %}
                    {% if not field.is_hidden %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                        </div>
                    </div>
                    {% else %}
                    {{ field }}
                    {% endif %}                
                {% endfor %}                          
            </div>     
            <div class="bottom-form">
                <div class="player-drag-box">
                    <h4>Drag friends here</h4>
                    <ul></ul>
                </div>
                <div class="friends-list">
                    <img src="{{ STATIC_URL }}images/loader.gif" class="spinner" />
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>            
            <button class="btn btn-large">Finish Up</button>            
        </form>
    </div>    
{% endblock %}
