{% extends 'portal/base.html' %}

{% block css_spec %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/libraries/datepicker.css" />    
{% endblock %}
{% block js_spec %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>    
    <script type="text/javascript" src="{{ STATIC_URL }}js/libraries/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libraries/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libraries/bootstrap-datepicker.js"></script>    
    <script type="text/javascript" src="{{ STATIC_URL }}js/libraries/jquery.liveFilter.js"></script>    
    <script type="text/javascript" src="{{ STATIC_URL }}js/mine/create_game.js"></script>
    <script>
        $(document).ready(function() {            
            var $droppable = $('.player-drag-box').droppable();
            $('.modal').modal();

            $droppable.on('drop', function(evt, ui) {
                add_player($(evt.target), ui.draggable);
            });                        
        })
    </script>
{% endblock %}
{% block content %}
    <script>
        // Additional JS functions here
        window.fbAsyncInit = function() {
            FB.init({
                appId      : "{{ facebook_id }}", // App ID
                channelUrl : '', // Channel File
                status     : true, // check login status
                cookie     : true, // enable cookies to allow the server to access the session
                xfbml      : true  // parse XFBML
            });

            // Additional init code here
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    get_users_friends(false); //not mobile
                    
                    //if this is the page load after a successful public game creation, post to the users feed
                    var was_successful_creation = $('span.rsvp-link').length;
                    var was_public = $('span.public-game').length;
                    if (was_successful_creation && was_public) {
                        publish_to_feed();
                    }                    
                } else if (response.status === 'not_authorized') {
                    facebook.login();
                } else {
                    facebook.login();
                }
            });
        };
    </script>
    <div class="create-game">
        <form id="create_game_form" class="form-horizontal" method="post">
            <div class="top-form">
                {% for field in form %}
                    {% if not field.is_hidden %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                        </div>
                    </div>
                    {% else %}
                    {{ field }}
                    {% endif %}                
                {% endfor %}                          
            </div>
            <button class="btn btn-large">Finish Up</button>
            <div class="bottom-form">                
                <div class="player-drag-box">
                    <h4>Drag friends here</h4>
                    <ul></ul>
                </div>                
                <div class="friends-list">
                    <img src="{{ STATIC_URL }}images/loader.gif" class="spinner" />
                    <input id="search_friends" type="text" value="" placeholder="Filter friends" />
                    <ul id="friends">
                    </ul>
                </div>                
            </div>                                                     
        </form>
    </div>
    {% if created %}        
        <div class="modal fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                {% if created == 'True' %}
                    <h3>Game Created</h3>
                {% else %}
                    <h3>Game Unable to be Created</h3>
                {% endif %}
            </div>
            <div class="modal-body">
                {% if created == 'True' %}
                    <p>Send this link to your friends for them to rsvp for the game</p>
                    <b>link: </b>
                    {% if game.public %}<span class="public-game" style="display: none;"></span>{% endif %}
                    <span class="rsvp-link">{{ game.rsvp_link }}</span>
                {% else %}
                    <p>Oops, something went wrong and we were unable to create your game, please try again</p>                    
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
