{% extends 'portal/base.html' %}

{% block content %}
<div class="dashboard">
    <div class="map-holder">
        <h1>Yay a map will be here</h1>
    </div>
    <div class="game-lineup">
        <div class="accordion" id="lineup_accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#lineup_accordion" href="#collapsible">
                        <h4>Yay this will be where a lineup goes<i class="icon-list"></i></h4>
                    </a>
                </div>
                <div id="collapsible" class="accordion-body collapse">
                    <div class="accordion-inner">
                        lineup
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
