{% extends 'portal/base.html' %}

{% block js_spec %}
    <script>
        var games = {{ games_json|safe }};
        var player_games = {{ player_game_json|safe }}
        var players = {{ players_json|safe }}
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&sensor=true"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mine/game_lineup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mine/dashboard.js"></script>
{% endblock %}
{% block content %}
<div class="dashboard">
    <h1>Current Games</h1>
    <div id="map-canvas" class="map-holder">        
    </div>
    <div class="game-lineup">
        <div class="accordion" id="lineup_accordion">
            <div class="accordion-group">
                <div class="accordion-heading"> 
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#lineup_accordion" href="#collapsible">
                        <h4>Game Lineup<i class="icon-list"></i></h4>
                    </a>
                </div>
                <div id="collapsible" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <h4>Click a marker to see the lineup!</h4>
                        <ul>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--INFO WINDOWS-->
{% endblock %}
