{% extends 'portal/base.html' %}

{% block js_spec %}    
    <script type="text/javascript" src="{{ STATIC_URL }}js/mine/explore.js"></script>
{% endblock %}
{% block content %}
    <script>
        // Additional JS functions here
        window.fbAsyncInit = function() {
            FB.init({
                appId      : "{{ facebook_id }}", // App ID
                channelUrl : '', // Channel File
                status     : true, // check login status
                cookie     : true, // enable cookies to allow the server to access the session
                xfbml      : true  // parse XFBML
            });

            // Additional init code here
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    mark_friends_games();
                }
                else if (response.status === 'not_authorized') {
                    facebook.login();
                } else {
                    facebook.login();
                }
            });
        };
    </script>
    <div class="explore">
        <h3>These are public games that you might be interested in joining</h3>   
        {% include 'portal/components/games_table.html' %}        
    </div>
{% endblock %}
