{% extends 'portal/base.html' %}

{% block fb_graph %}
    <meta property="fb:app_id" content="{{ facebook_id }}" />
    <meta property="og:type"   content="instapickup_test:game" />
    <meta property="og:url"    content="http://localhost:8000{% url pickup_finder.views.game_rsvp game.id %}" />
    <meta property="og:title"  content="Sample Game" />
    <meta property="og:image"  content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" />
{% endblock %}
{% block content %}
    {{ form }}
{% endblock %}
