{% extends 'portal/base.html' %}

{% block content %}
    <div class="help">
        <ul>
            <li>
                <h5>Will InstaPickup write annoying stuff on my wall?</h5>                
                Never! The only thing we'll use Facebook for is inviting your friends to the games you create
            </li>
            <li>
                <h5>Why should I use InstaPickup instead of just creating a Facebook Event?</h5>
                Hmm good question sir or ma'am (sa'am?), InstaPickup is nice because it lets you create and manage your
                pickup games in real time. I mean, yeah you can use Facebook to do this also but do they give you
                a fancy interface tailored for pickup games o_O?! 
            </li>
            <li>
                <h5>What if this help page isn't helping?</h5>
                Now there is a meta question for you. But seriously, just contact me 
                (<a href="mailto:steinbach.rj@gmail.com">steinbach.rj@gmail.com</a>)if you have any questions about 
                anything at all (this site, other projects, the meaning of life, cheeseburgers vs. pizza, etc. etc.)
            </li>
        </ul>
    </div>
{% endblock %}
