h1 {
  border-bottom: solid 2px black;
  padding-bottom: 5px;
}
ul {
  list-style-type: none;
}
img {
  padding: 10px 20px 10px 20px;
}
button {
  width: 300px;  
  margin-left: 30px;
  white-space: nowrap;    
}
div.event-desc {
  height: 0px;
  width: 0px;
  opacity: 0;
  border: solid 1px #777;
} 


