<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# instapickup_test: http://ogp.me/ns/fb/instapickup_test#">
    {% block fb_graph %}{% endblock %}
    {% load staticfiles %}
    {#  GLOBAL JS VARS  #}
    <script>
        var facebook = {};
        var STATIC_URL = {{ STATIC_URL }};        
    </script>
    <title>Find pickup games</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/libraries/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/libraries/font-awesome.css" />
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/less/core.less" />
    {% block css %}{% endblock %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>    
    <script type="text/javascript" src="{{ STATIC_URL }}js/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libraries/less-1.3.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mine/core.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
    {% block facebook %}{% endblock %}
    {% block body %}{% endblock %}    
</body>
</html>
